@charset "UTF-8";
/* COMMON */
body {
	font-family: 'Nanum Gothic', sans-serif;
	color: #656565;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
li {
	float: left;
}
.inner {
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.hr-solid {
  border : 0px;
  border-top: 5px solid #000;
}

/* HEADER */
.header .top_banner {
	height: 40px;
	background-color: black;
	color: white;
	font-size: small;
}

.header .inner {
	width: 1400px;
	height: 48px;
	margin: 0 auto;
	position: relative;
}

.header .sub-menu {
	width: 600px;
	height: 31px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	display: flex;
}

.header .sub-menu ul.menu {
	display: flex;
}

.header .sub-menu ul.menu li {
	text-decoration: none;
	position: relative;
}

.header .sub-menu ul.menu li::before {
	content: "";
	width: 1px;
	height: 10px;
	background-color: gray;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.header .sub-menu ul.menu li:first-child::before {
	display: none;
}

.header .sub-menu ul.menu li a {
	font-size: 14px;
	padding: 11px 16px;
	display: block;
	color: #656565;
	font-weight: bold;
	text-decoration: none;
}

.header .sub-menu ul.menu li a:hover {
	color: #000;
}

.headerMiddle {
}

.headerMiddle .search {
	height: 30px;
}

.headerMiddle .search .searchInput {
}

.headerMiddle .search input {
	width: 80px;
/* 	right: 0; */
/* 	margin: auto;
	position: absolute; */
/* 	margin-left: 10px;
  font-size: 14px;
  z-index: -1; */
}

header .sub-menu .search .material-icons {
/* 	position: relative;
	top: 0px;
	left: -44px; */
}

.headerMiddle {
	height: 200px;
	position: relative;
}

.mainLogo {
	width: 400px;
	height: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.headerMiddle .mainLogo img {
	width: 300px;
	height: 120px;
}

.productCategory {
	position: relative;
 }
 
.productCategory .productGlobalcategory ul.productmenu li {
	margin-right: 30px;
	font-size: 14px;
}

.productCategory .productGlobalcategory ul.productmenu li a {
	font-size: 14px;
	color: #656565;
	font-weight: bold;
	text-decoration: none;
}

.productCategory .productGlobalcategory ul.productmenu li a:hover {
	color: #000;
}

.productGlobalcategory {
	width: 600px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; /* auto auto라 auto 하나는 생략  */
 }
 
 /* FOOTER */
 footer .inner {
 	width: 1400px;
	height: 48px;
	margin: 0 auto;
	position: relative;
 }
 
 footer .footerTopUtil {
	width: 600px;
	height: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	display: flex;
 }
 
 footer .footerTopUtil ul.footermenu {
 	display: flex;
 }
 
 footer .footerTopUtil ul.footermenu li {
 	text-decoration: none;
	position: relative;
 }
 
 footer .footerTopUtil ul.footermenu li::before {
	content: "";
	width: 1px;
	height: 10px;
	background-color: gray;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
 }
 
 footer .footerTopUtil ul.footermenu li:first-child::before {
 	display: none;
 }
 
 footer .footerTopUtil ul.footermenu li a {
 	font-size: 14px;
	padding: 11px 16px;
	display: block;
	color: #656565;
	font-weight: bold;
	text-decoration: none;
 }
 
footer .footerTopUtil ul.footermenu li a:hover {
	color: #000;
}
 
 footer .footerContent {
 	/* background-color: yellow; */
 }
 
 footer .layout-footer {
 	/* background-color: green; */
 }